name: Automatic deployment to huggingface_hub

on:
  push:
    branches: master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install huggingface_hub
      # Deploy to Hugging Face Spaces
      - run: |
          python -c "
          from huggingface_hub import HfApi
          api = HfApi(token='${{ secrets.HF_TOKEN }}')
          api.upload_folder(
              folder_path='./Bloc4 - Final project/Projet/Architecture/App/Dockers/streamlit',
              repo_id='DavidRambeau/bloc3_Streamlit',
              repo_type='space'
          )
          "
      # Create a new tag for deployment tracking #deployed-$(date +%Y%m%d-%H%M%S)
      - name: Create deployment tag
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git tag -f "production"
          git push origin --tags
